.profile.local
bin/
.clamp
.npm-global/
.node-gyp/
.nvm/
.vim/bundle
.v8flags.*
.chromedriver-helper
.asdf/
.travis/
.yarnrc
.hyper_plugins/
.htpasswd
.zsh_sessions/

## Elixir:
.hex
.mix

## Redis:
dump.rdb
