[user]
	name = Duncan Stuart
	email = dgmstuart@gmail.com
[github]
	user = dgmstuart 
[core]
	excludesfile = ~/.gitignore_global
        whitespace = trailing-space
[push]
	default = current
[pull]
	rebase = true
	ff = only
[merge]
	ff = only
[color]
	status = auto
	branch = auto
[color "diff"]
	plain = normal
	meta = yellow
	frag = blue
	old = red
	new = green
	commit = yellow
	whitespace = normal red
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
