## Elixir:
.hex
.mix

## Rust
.cargo
.rustup

## Redis:
dump.rd

## Javascript
.npm-global/
.node-gyp/
.yarnrc
.nvm/

## Miscellaneous development files:
.profile.local
bin/
.clamp
.vim/bundle
.v8flags.*
.chromedriver-helper
.asdf/
.travis/
.htpasswd
.zsh_sessions/

## Miscellaneous application config files:
.vscode/
.hyper_plugins/
