[submodule ".vim/bundle/vim-unbundle"]
	path = .vim/bundle/vim-unbundle
	url = git://github.com/sunaku/vim-unbundle.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
