[user]
	name = Duncan Stuart
	email = dgmstuart@gmail.com
[github]
	user = dgmstuart 
[core]
	excludesfile = ~/.gitignore_global
        whitespace = trailing-space
[push]
	default = simple
[pull]
	ff = only
[color]
	status = auto
	diff = auto
	branch = auto
