# OSX directories #
###################
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
.Trash

# My Directories #
##################
# ie. non-standard directories that I always have on my machines
dev/
bin/

# Passwords, private etc. #
###########################
.netrc
.ssh
.certs
.rnd
.htpasswd

# History, logs, caches etc #
#############################
.zcompdump*
.zsh_sessions/
.cache/
.wget-hsts

# Machine-specific files #
##########################
.profile.local
.local/
.config/karabiner 

## Elixir:
.hex
.mix

## Rust
.cargo
.rustup

## Redis:
dump.rdb

## Ruby:
.gem
.clamp
.chromedriver-helper
.webdrivers

## Javascript
.npm
.npm-global/
.node-gyp/
.yarnrc
.nvm/

# Vim
.viminfo
.vim/bundle
.vim/.netrwhist

## Miscellaneous development files:
.v8flags.*
.asdf/
.travis/
.aws
.config/yarn
.config/hub

## Miscellaneous application config files:
.vscode/
.config/configstore
.config/iterm2
