[submodule ".vim/bundle/vim-unbundle"]
	path = .vim/bundle/vim-unbundle
	url = git://github.com/sunaku/vim-unbundle.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git@github.com:wincent/Command-T
